<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Titly</title>
  <link rel="stylesheet" href="/stylesheets/index.css">

</head>

<body>
  <section class="home">
    <header>
      <h1>titly</h1>
    </header>
    <section>
      <h2>Create short links, QR Codes, Share them anywhere and track performance.</h2>
      <a class="button" href="auth/login">log in</a>
      <a class="button" href="auth/signup">Sign up</a>
    </section>
  </section>
</body>

</html>