<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Qrcode</title>
    <link rel="stylesheet" href="/stylesheets/user.css">
    <link rel="stylesheet" href="/stylesheets/qrcode.css">
  </head>
  <body>
    <nav class="nav">
		<a href="/api/shorten">
    <div class="user">
			<%= user %>
		</div>
    </a>
		<h1 style="color: #3d4bb4; margin: auto;">
			titly
		</h1>

		
			<form action="/auth/logout" method="post">
				<button class="logout" type="submit">SignOut</button>
			</form>

	</nav>

    <div class="qrButton">
      <button id="openModalBtn" onclick="openModal()">View QrCode</button>
    </div>
    <div id="modal" class="modal">
      <div class="modal-content">
        <span class="close" onclick="closeModal()">+</span>
        <h2 class="url-data"><%= data %></h2>
        <img src="<%= url %>" alt="QR code" />`
      </div>
    </div>

    <script src="/javascripts/qrcode.js"></script>

  </body>
</html>
