<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Qrcode</title>
    <link rel="stylesheet" href="/stylesheets/user.css">
    <style>
      /* CSS styles for the modal */
      * {
        box-sizing: border-box;
      }

      body {
        position: relative;
        height: 80vh;
      }

      .qrButton {
        position: absolute;
        top: 30%;
        left: 45%;
        transform: translate(-50, -50);
      }
      .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
      }

      .modal-content {
        background-color: white;
        margin: 10% auto;
        padding: 20px;
        max-width: 400px;
        height: 60%;
        overflow: hidden;
      }

      #openModalBtn {
        background-color: #4caf50;
        border: none;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 5px;
      }

      .close {
        float: right;
        cursor: pointer;
        color: red;
        font-size: 30px;
        font-weight: bold;
      }
      img {
        width: 95%;
        height: 80%;
      }

      .url-data {
        text-align: center;
        font-size: 15px;
      }

      .close {
        transform: rotate(45deg);
      }
    </style>
  </head>
  <body>
    <nav class="nav">
		<a href="/api/shorten">
    <div class="user">
			<%= user %>
		</div>
    </a>
		<h1 style="color: #3d4bb4; margin: auto;">
			titly
		</h1>

		
			<form action="/auth/logout" method="post">
				<button class="logout" type="submit">SignOut</button>
			</form>

	</nav>

	<header class="header">
		<!-- <img src="/images/infographic.jpg" alt="short-a-link" class="short-link-img"> -->

    <div class="qrButton">
      <h1>Qr Code</h1>
      <button id="openModalBtn" onclick="openModal()">View QrCode</button>
    </div>
    <div id="modal" class="modal">
      <div class="modal-content">
        <span class="close" onclick="closeModal()">+</span>
        <h2 class="url-data"><%= data %></h2>
        <img src="<%= url %>" alt="QR code" />`
      </div>
    </div>

    <script>
        const openModalBtn = document.getElementById("openModalBtn");
        const modal = document.getElementById("modal");
        const closeModalBtn = document.getElementsByClassName("close")[0];

        const openModal = () => {
          modal.style.display = "block";
        }
        const closeModal = () => {
          modal.style.display = "none";
          window.location = '/api/shorten';
        }

    //   const openModalBtn = document.getElementById("openModalBtn");
    //   const modal = document.getElementById("modal");
    //   const closeModal = document.getElementsByClassName("close")[0];

    //   openModalBtn.addEventListener("click", function () {
    //     modal.style.display = "block";
    //   });

    //   closeModalBtn.addEventListener("click", function () {
    //     modal.style.display = "none";
    //   });

    //   window.addEventListener("click", function (event) {
    //     if (event.target == modal) {
    //       modal.style.display = "none";
    //     }
    //   });

    </script>
  </body>
</html>
